/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

         default_layer {
            bindings = <
&kp ESC    &none                                                                                   &none     &none
&kp TAB    &kp N1  &kp N2  &kp N3          &kp N4    &kp N5  &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp MINUS
&kp LSHFT  &kp Q   &kp W   &kp E           &kp R     &kp T   &kp Y   &kp U     &kp I      &kp O    &kp P     &kp EQUAL
&kp LALT   &kp A   &kp S   &kp D           &kp F     &kp G   &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp FSLH
&kp LCTRL  &kp Z   &kp X   &kp C           &kp V     &kp B   &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &bt BT_CLR_ALL  &kp LGUI  &to 1   &to 2   &kp BSPC  &kp RCTRL
            >;
        };
};
